html {
	height: 100%
}

body {
	height: 100%;
	background: white;
}

iframe {
	width: 100%;
	border: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

#page-wrapper {
	padding: 0 0;
}

.table .seq {
	width: 100px
}

.table .commands {
	width: 100px
}

.dl-horizontal dt {
	float: left;
	width: 50px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 70px;
}

.form-group .control-label:after {
	content: "\00a0";
}

.form-group .control-label.required:after {
	content: "*";
	color: red;
}